.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.prefs
target/
tmp
project/
.gradle/
out
.metadata
Servers
atlassian-ide-plugin.xml
*~
rebel.xml
buildSrc/
db-migration/
contiperf-report/
bin/
.DS_Store
generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Generated ###
classes/

### Logs ###
/logs

### Webpack ###
*/.DS_Store
*/frontend/node_modules/
*/frontend/dist/
*/src/main/resources/static/
*/src/main/resources/templates/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env.local
.env.*.local



