
datasource:
  argo:
    jdbc-url: 'jdbc:postgresql://localhost:5432/argo'
    username: 'argo'
    password: 'argo2020'
    driver-class-name: 'org.postgresql.Driver'

spring:
  profiles:
    active: local


  servlet:
    multipart:
      enabled: true
      maxFileSize: 10MB
      maxRequestSize: 10MB

  jpa:
    database: postgresql
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show-sql: true
        jdbc:
          lob:
            non_contextual_creation: true
        temp:
          use_jdbc_metadata_defaults: false
        hibernate:
          default_schema: public
    hibernate.ddl-auto: create-drop
    generate-ddl: true
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    hibernate.naming.physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  main:
    allow-bean-definition-overriding: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: contact@argoport.com
    password: argo2020
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8
  data:
    cassandra:
      port: 9042
      schema-action: CREATE_IF_NOT_EXISTS
      consistency-level: one
      contact-points: 15.164.111.122
      keyspace-name: argo
      username: argo
      password: argo2020

  jackson:
    serialization:
      fail-on-empty-beans: false

webdriver:
  chrome:
    driver: /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome

  profiles:
    active: local

server:
  port: 10002

file:
  upload:
    default-path: /Users/ags0688/Documents/attachements
    index: excel_upload

elasticsearch:
  hosts: http://15.164.111.122:9200

registration:
  url:
    confirm: http://localhost:3000/auth/confirm
    additional-info: http://localhost:3000/auth/additional-info

aws:
  s3:
    accessKey: AKIAY7LXOLNEKJ4LQANO
    secretKey: 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

goData:
  token: v8N7GVyY1dKTJ8inAiv3lBPbajbHgjl8NAYSu1vKXvMCBUU2JhuQee8VyFVcS%2Bt37rZ1h9N9PktQeQRxjtUsnw%3D%3D
  url: http://apis.data.go.kr/B552015/NpsBplcInfoInqireService/getBassInfoSearch


passwordreset:
  url:
    confirm: http://localhost:3000/#/auth/resetPasswordConfirm

refine:
  service-type: kakao
  kakao:
    url: https://dapi.kakao.com/v2/local/search/address.json
    access-key: KakaoAK 1af1d849e0fc9601d683f43794c1ed35
  vworld:
    url: http://api.vworld.kr/req/address?service=address&request=getcoord&version=2.0&crs=epsg:4326&refine=true&simple=false&format=json
    access-key: 241C75FB-1F72-3587-B4A8-F225B5D10E31

notification:
  slack: https://hooks.slack.com/services/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
